In [864]:
import re
import pandas as pd
sys.path.append('../')
import src.limpieza as lmp

In [865]:
pd.options.display.max_columns = None

In [866]:
revius = open("output1.html", "r", encoding='utf-8').readlines()

In [867]:
corte = '\ue9ce\ue9ce\ue9ce\ue9ce\ue9ce\n'

In [868]:
civitatis = [' '.join(str(i) for i in revius)]

In [869]:
print(len(civitatis))

1

In [870]:
civitatis_ = civitatis[0].split(corte)

In [871]:
civitatis_revius = [i for i in civitatis_[2::2]]

In [872]:
civitatis_revius_limpio = [i.split('\n') for i in civitatis_revius]

In [873]:
longitud = [len(i) for i in civitatis_revius_limpio]
long_ = set(longitud)
print(long_)

{4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [874]:
for i in range(0,14):
    for a in civitatis_revius_limpio:
        if len(a)==i:
            print(a)
            break

[' 11 / Mar / 2022', ' A', ' Anónimo', ' ']
[' 10 / Mar / 2022', ' D', ' Diana Cruz Torres', ' Toa Alta, Puerto Rico', ' ']
[' 11 / Mar / 2022', ' A', ' Ainhoa', ' España', ' Viajó en pareja', ' ']
[' 11 / Mar / 2022', ' A', ' Ana', ' Madrid, España', ' Victor es encantador, te explica todo al detalle y te resuelve todas las preguntas, volvería a repetir, me a encantado.', ' Viajó con hijos mayores', ' ']
[' 11 / Mar / 2022', ' G', ' Graciela Arguelles', ' Guanajuato, Montenegro', ' Excelente recorrido ️️️️️', ' Opinión traducida. Mostrar en idioma original', ' Viajó con amigos', ' ']
[' 08 / Mar / 2022', ' A', ' Anónimo', ' 16195 opiniones', ' Mostrando 37-48', ' primera anterior', ' Página 2 Página 3 Página 4 Página 5 Página 6', ' siguiente última', ' ']
[' 10 / Feb / 2022', ' A', ' Anónimo', ' Viajó solo', ' 16195 opiniones', ' Mostrando 469-480', ' primera anterior', ' Página 38 Página 39 Página 40 Página 41 Página 42', ' siguiente última', ' ']
[' 11 / Mar / 2022', ' M', ' María José Campillo Mateo', ' Murcia, España', ' Viajó en pareja', ' 16195 opiniones', ' Mostrando 1-12', ' primera anterior', ' Página 1 Página 2 Página 3 Página 4', ' siguiente última', ' ']
[' 10 / Mar / 2022', ' G', ' Gonzalo', ' Madrid, España', ' La excursion fue magnifica y Monica una excelente guia. Muy contentos', ' Viajó en pareja', ' 16195 opiniones', ' Mostrando 13-24', ' primera anterior', ' Página 1 Página 2 Página 3 Página 4', ' siguiente última', ' ']
[' 04 / Dic / 2021', ' P', ' Paula Alexandra', ' Aveiro, Portugal', ' Salvador es una muy buena guía, amigable y práctica. La visita fue excelente. Gracias. Hasta la próxima', ' Opinión traducida. Mostrar en idioma original', ' Viajó solo', ' 16195 opiniones', ' Mostrando 1549-1560', ' primera anterior', ' Página 128 Página 129 Página 130 Página 131 Página 132', ' siguiente última', ' ']

In [875]:
civitatis_limpio_oi = lmp.pulir(civitatis_revius_limpio)
civitatis_reluciente = lmp.quitar_respuestas(civitatis_limpio_oi)

AttributeError: module 'src.limpieza' has no attribute 'pulir'

In [ ]:
longitud = [len(i) for i in civitatis_reluciente]
long_ = set(longitud)
print(long_)

{2, 3, 4, 5}

In [ ]:
len(civitatis_reluciente)

16231

In [ ]:
dict_revius = lmp.dict_civitatis(civitatis_reluciente)

In [ ]:
len(dict_revius['fecha']) == len(dict_revius['nombre']) == len(dict_revius['procedencia']) == len(dict_revius['opinion']) == len(dict_revius['viajo_con'])

True

In [ ]:
df_civitatis = pd.DataFrame(dict_revius)

In [ ]:
df_civitatis.head(5)

,fecha,nombre,procedencia,opinion,viajo_con
0,11 / Mar / 2022,Ana,"Madrid, España","Victor es encantador, te explica todo al deta...",Viajó con hijos mayores
1,11 / Mar / 2022,Montserrat,España,"Casi 3 horas de tour pero Víctor, el guía que...",Viajó solo
2,11 / Mar / 2022,Ainhoa,España,,Viajó en pareja
3,11 / Mar / 2022,Patricia Suárez Carrillo,"Madrid, España",A mi pareja y a mi nos ha encantado! Nuestro ...,Viajó en pareja
4,11 / Mar / 2022,Anónimo,,,

In [ ]:
df_civitatis.shape

(16231, 5)

In [ ]:
def sin_espacios(df):
    for i in df.columns:
        df[i] = df[i].str.strip()
    return df

In [ ]:
sin_espacios(df_civitatis)

,fecha,nombre,procedencia,opinion,viajo_con
0,11 / Mar / 2022,Ana,"Madrid, España","Victor es encantador, te explica todo al detal...",Viajó con hijos mayores
1,11 / Mar / 2022,Montserrat,España,"Casi 3 horas de tour pero Víctor, el guía que ...",Viajó solo
2,11 / Mar / 2022,Ainhoa,España,,Viajó en pareja
3,11 / Mar / 2022,Patricia Suárez Carrillo,"Madrid, España",A mi pareja y a mi nos ha encantado! Nuestro g...,Viajó en pareja
4,11 / Mar / 2022,Anónimo,,,
...,...,...,...,...,...
16226,17 / Sep / 2018,Antonio Augusto Mendes Moreira,"Porto, Portugal",Um tour pela cidade antiga muito interessante ...,Viajó en pareja
16227,02 / Sep / 2018,Sergio Camargo,"New York, Estados Unidos",Pedro estuvo fantastico. Fue claro y ameno al ...,Viajó con hijos mayores
16228,01 / Sep / 2018,Mariana Goncalves,"Faro, Portugal",,Viajó con amigos
16229,28 / Jun / 2018,José Carlos Miranda Reis,"Braga, Portugal",O tour foi formidavel. A guia Laura e eficente...,Viajó en pareja
16230,10 / Sep / 2017,Susanna,"Barcelona, España",Som de Barcelona i hem descovert curiositats i...,Viajó en pareja

In [ ]:
df_civitatis.iloc[0,0]

'11 / Mar / 2022'

In [ ]:
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace(' / ', '-')

In [ ]:
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Ene', '01')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Feb', '02')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Mar', '03')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Abr', '04')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('May', '05')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Jun', '06')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Jul', '07')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Ago', '08')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Sep', '09')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Oct', '10')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Nov', '11')
df_civitatis['fecha'] = df_civitatis['fecha'].str.replace('Dic', '12')

In [ ]:
for i in df_civitatis['fecha'].unique():
    if i == '':
        print('oi!')

In [ ]:
df_civitatis.duplicated().sum()

4690

In [ ]:
df_civitatis[df_civitatis.duplicated() == True]

,fecha,nombre,procedencia,opinion,viajo_con
12,11-03-2022,Ana,"Madrid, España","Victor es encantador, te explica todo al detal...",Viajó con hijos mayores
13,11-03-2022,Montserrat,España,"Casi 3 horas de tour pero Víctor, el guía que ...",Viajó solo
14,11-03-2022,Ainhoa,España,,Viajó en pareja
15,11-03-2022,Patricia Suárez Carrillo,"Madrid, España",A mi pareja y a mi nos ha encantado! Nuestro g...,Viajó en pareja
16,11-03-2022,Anónimo,,,
...,...,...,...,...,...
16177,04-05-2019,Anónimo,España,,
16190,06-03-2019,Anónimo,España,,
16196,15-02-2019,Anónimo,España,,
16198,08-02-2019,Anónimo,España,,
16221,14-10-2018,Anónimo,España,,

In [ ]:
df_civitatis.iloc[13,3]

'Casi 3 horas de tour pero Víctor, el guía que nos ha acompañado ha sido un encanto. Hemos andado muchísimo pero ha merecido la pena porque se nota que le gusta mucho su trabajo y se ha hecho muy ameno y emocionante. Sin duda un tour 100% recomendado con este guía. Gracias por hacernos pasar una mañana increíble.'

In [ ]:
df_civitatis[df_civitatis['opinion'] == 'Casi 3 horas de tour pero Víctor, el guía que nos ha acompañado ha sido un encanto. Hemos andado muchísimo pero ha merecido la pena porque se nota que le gusta mucho su trabajo y se ha hecho muy ameno y emocionante. Sin duda un tour 100% recomendado con este guía. Gracias por hacernos pasar una mañana increíble.']

,fecha,nombre,procedencia,opinion,viajo_con
1,11-03-2022,Montserrat,España,"Casi 3 horas de tour pero Víctor, el guía que ...",Viajó solo
13,11-03-2022,Montserrat,España,"Casi 3 horas de tour pero Víctor, el guía que ...",Viajó solo
37,11-03-2022,Montserrat,España,"Casi 3 horas de tour pero Víctor, el guía que ...",Viajó solo

In [ ]:
df_civitatis_ = df_civitatis.drop_duplicates()

In [ ]:
df_civitatis_.duplicated().sum()

0

In [ ]:
df_civitatis_.shape

(11541, 5)

In [ ]:
df_civitatis['fecha'] = pd.to_datetime(df_civitatis['fecha'], format='%d%m%Y%')

ValueError: stray % in format '%d%m%Y%'