In [ ]:
!pip install streamlit-keplergl
import pandas as pd
pd.options.display.max_columns = None

import sqlalchemy as alch
from sqlalchemy.exc import SQLAlchemyError

from getpass import getpass

In [2]:
df_turistas_admon_17 = pd.read_pickle(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\admon_cividates.pkl')
df_civitatis_location = pd.read_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location.csv')

First we're going to create the column that will be the primary key in the sql database. We will set the primary key based on the date by months

In [9]:
df_turistas_admon_17.head(5)

,periodo,viajeros_espana,viajeros_extranjero,pernoctaciones_espana,pernoctaciones_extranjero,media_pernoc_esp,media_pernoc_ext,total_viajeros,total_pernoctaciones,media_total_pernoc,primary_key
55,2017-07,137560,634306,261185,1803145,1.9,2.8,771866,2064330,2.7,55
54,2017-08,92632,601050,194356,1807172,2.1,3.0,693682,2001528,2.9,54
53,2017-09,116521,568131,216184,1550853,1.9,2.7,684652,1767037,2.6,53
52,2017-10,125400,531660,238121,1434376,1.9,2.7,657060,1672497,2.5,52
51,2017-11,140384,391985,244155,1022604,1.7,2.6,532369,1266759,2.4,51

In [8]:
df_turistas_admon_17['primary_key'] = df_turistas_admon_17.index

In [11]:
df_turistas_admon_primary = df_turistas_admon_17
df_turistas_admon_primary.to_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\turistas_admon_primary.csv')

In [35]:
df_turistas_admon_primary = pd.read_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\turistas_admon_primary.csv')

In [14]:
df_civitatis_location.head(1)

,procedencia,fecha,nombre,opinion,viajo_con,georeferenced_column,latitude,longitude,bar_lat,bar_lon,periodo
0,"Madrid, Espa침a",2022-03-11 00:00,Ana,"Victor es encantador, te explica todo al detal...",Viaj칩 con hijos mayores,"(40.4167047, -3.7035825)",40.416705,-3.703582,41.382894,2.177432,2022-03

In [13]:
df_civitatis_location['periodo'] = pd.to_datetime(df_civitatis_location['fecha'], format='%Y-%m')
df_civitatis_location['periodo'] = df_civitatis_location['periodo'].dt.strftime('%Y-%m')

In [15]:
df_primary_key = df_turistas_admon_primary[['periodo', 'primary_key']]

In [18]:
df_primary_key.to_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\primary_key.csv')

In [19]:
df_primary_key.sort_values(by=['periodo', 'primary_key'], ascending=False, inplace=True)

C:\Users\mituc\AppData\Local\Temp/ipykernel_14408/3135292029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_primary_key.sort_values(by=['periodo', 'primary_key'], ascending=False, inplace=True)

In [20]:
df_primary_key.head(5)

   periodo  primary_key
1  2022-01            1
2  2021-12            2
3  2021-11            3
4  2021-10            4
5  2021-09            5

In [67]:
df_primary_key.set_index(['periodo'], inplace=True)
df_civitatis_location.set_index(['periodo'], inplace=True)

In [25]:
df_civitatis_location_primary = df_civitatis_location.merge(df_primary_key, on='periodo')

In [110]:
df_civitatis_location_primary.drop(['Unnamed: 0'], axis=1, inplace=True)

In [28]:
df_civitatis_location_primary.tail(5)

,procedencia,fecha,nombre,opinion,viajo_con,georeferenced_column,latitude,longitude,bar_lat,bar_lon,periodo,primary_key
15534,"Cali, Colombia",2017-07-12 00:00,Jose Manuel,"Muy bueno, pausado, entretenido y con informac...",Viaj칩 con hijos mayores,"(3.4517923, -76.5324943)",3.451792,-76.532494,41.382894,2.177432,2017-07,55
15535,"Bristol, Reino Unido",2017-07-12 00:00,An칩nimo,Ten칤a poco tiempo para conocer la ciudad as칤 q...,Viaj칩 solo,"(51.47091115, -2.5790334025708415)",51.470911,-2.579033,41.382894,2.177432,2017-07,55
15536,"Miami, Estados Unidos",2017-07-09 00:00,William Rey Cordovi,NaN,Viaj칩 en pareja,"(25.7741728, -80.19362)",25.774173,-80.193620,41.382894,2.177432,2017-07,55
15537,"Sevilla, Espa침a",2017-07-09 00:00,Evangelina Claro Torres,Gu칤a muy profesional y competente.. He disfrut...,Viaj칩 con hijos mayores,"(37.3886303, -5.9953403)",37.388630,-5.995340,41.382894,2.177432,2017-07,55
15538,"Los Cristianos, Espa침a",2017-07-01 00:00,Alejandro,NaN,Viaj칩 con amigos,"(28.0526298, -16.717)",28.052630,-16.717000,41.382894,2.177432,2017-07,55

In [29]:
df_civitatis_location_primary.to_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary.csv')

In [4]:
df_civitatis_location_primary = pd.read_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary.csv')

In [8]:
class Cargar:
    
    def __init__(self, nombre_bbdd, contrase침a):

        # nuestra clase va a recibir dos par치metros que son fijos a lo largo de toda la BBDD, el nombre de la BBDD y la contrase침a con el servidor. 
        self.nombre_bbdd = nombre_bbdd
        self.contrase침a = contrase침a

    def conexion_servidor(self): 
        conexion = f"mysql+pymysql://root:{self.contrase침a}@localhost"
        return alch.create_engine(conexion)


    def crear_bbdd(self):
        engine = self.conexion_servidor()
        try:
            engine.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
            
        except:
            print("La BBDD ya existe")
            
    def crear_schema(self):
        engine = self.conexion_servidor()
        try:
            engine.execute(f"CREATE SCHEMA IF NOT EXISTS {self.nombre_bbdd} DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_bin;")
        except:
            print("El schema ya existe")

    def conexion_base_datos(self):

        conexion2 = f"mysql+pymysql://root:{self.contrase침a}@localhost/{self.nombre_bbdd}"
        return alch.create_engine(conexion2)

    def crear_insertar_tabla(self, query):
        engine = self.conexion_base_datos()

    
        try:
            engine.execute(query)
          
        except SQLAlchemyError as e:
            error = str(e.__dict__['orig'])
            return error

In [5]:
contrase침a = getpass("Contrase침a de MySQL: ")

In [48]:
civitatis_sql = Cargar("turismo_admon_civitatis", contrase침a)
civitatis_sql.crear_schema()

In [30]:
df_turistas_admon_primary.head(1)

,periodo,viajeros_espana,viajeros_extranjero,pernoctaciones_espana,pernoctaciones_extranjero,media_pernoc_esp,media_pernoc_ext,total_viajeros,total_pernoctaciones,media_total_pernoc,primary_key
55,2017-07,137560,634306,261185,1803145,1.9,2.8,771866,2064330,2.7,55

In [49]:
table_admon_esp = '''
CREATE TABLE IF NOT EXISTS `turismo_admon_civitatis`.`admon_esp` (
        `clave` int(11) NOT NULL,
        `periodo` varchar(255) NOT NULL,
        `viajeros_espana` int(11) NOT NULL,
        `pernoctaciones_espana` int(11) NOT NULL,
        `media_pernoc_espana` FLOAT NOT NULL,
    PRIMARY KEY (`clave`));
'''

table_admon_ext = '''
CREATE TABLE IF NOT EXISTS `turismo_admon_civitatis`.`admon_ext` (
        `clave` int(11) NOT NULL,
        `periodo` varchar(255) NOT NULL,
        `viajeros_extranjero` int(11) NOT NULL,
        `pernoctaciones_extranjero` int(11) NOT NULL,
        `media_pernoc_extranjero` FLOAT NOT NULL,
    PRIMARY KEY (`clave`));
'''

table_civitatis_esp = '''
CREATE TABLE IF NOT EXISTS `turismo_admon_civitatis`.`civitatis_esp` (
        `clave` int(11) NOT NULL,
        `periodo` varchar(255) NOT NULL,
        `procedencia` VARCHAR(255),
        `fecha` DATE NOT NULL,
        `nombre` VARCHAR(255),
        `opinion` VARCHAR(255),
        `viajo_con` VARCHAR(255),
        `georeferenced_column` VARCHAR(255),
        `latitude` FLOAT,
        `longitude` FLOAT,
        `bar_latitude` FLOAT,
        `bar_longitude` FLOAT,
    PRIMARY KEY (`clave`));
'''

table_civitatis_ext = '''
CREATE TABLE IF NOT EXISTS `turismo_admon_civitatis`.`civitatis_ext` (
        `clave` int(11) NOT NULL,
        `periodo` varchar(255) NOT NULL,
        `procedencia` VARCHAR(255),
        `fecha` DATE NOT NULL,
        `nombre` VARCHAR(255),
        `opinion` VARCHAR(255),
        `viajo_con` VARCHAR(255),
        `georeferenced_column` VARCHAR(255),
        `latitude` FLOAT,
        `longitude` FLOAT,
        `bar_latitude` FLOAT,
        `bar_longitude` FLOAT,
    PRIMARY KEY (`clave`));
'''

table_total_turistas = '''
CREATE TABLE IF NOT EXISTS `turismo_admon_civitatis`.`total_turistas` (
        `clave` int(11) NOT NULL,
        `periodo` varchar(255) NOT NULL,
        `total_viajeros` int(11) NOT NULL,
        `total_pernoctaciones` int(11) NOT NULL,
        `media_total_pernoctaciones` FLOAT NOT NULL,
         PRIMARY KEY (`clave`, `admon_esp_clave`, `admon_ext_clave`, `civitatis_ext_clave`, `civitatis_esp_clave`),
  INDEX `fk_total_turistas_admon_esp_idx` (`admon_esp_clave` ASC) VISIBLE,
  INDEX `fk_total_turistas_admon_ext1_idx` (`admon_ext_clave` ASC) VISIBLE,
  INDEX `fk_total_turistas_civitatis_ext1_idx` (`civitatis_ext_clave` ASC) VISIBLE,
  INDEX `fk_total_turistas_civitatis_esp1_idx` (`civitatis_esp_clave` ASC) VISIBLE,
  CONSTRAINT `fk_total_turistas_admon_esp`
    FOREIGN KEY (`admon_esp_clave`)
    REFERENCES `turismo_admon_civitatis`.`admon_esp` (`clave`),
  CONSTRAINT `fk_total_turistas_admon_ext1`
    FOREIGN KEY (`admon_ext_clave`)
    REFERENCES `turismo_admon_civitatis`.`admon_ext` (`clave`),
  CONSTRAINT `fk_total_turistas_civitatis_ext1`
    FOREIGN KEY (`civitatis_ext_clave`)
    REFERENCES `turismo_admon_civitatis`.`civitatis_ext` (`clave`),
  CONSTRAINT `fk_total_turistas_civitatis_esp1`
    FOREIGN KEY (`civitatis_esp_clave`)
    REFERENCES `turismo_admon_civitatis`.`civitatis_esp` (`clave`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_bin);
'''

In [51]:
civitatis_sql.crear_insertar_tabla(table_admon_esp)
civitatis_sql.crear_insertar_tabla(table_admon_ext)
civitatis_sql.crear_insertar_tabla(table_civitatis_esp)
civitatis_sql.crear_insertar_tabla(table_civitatis_ext)
#civitatis_sql.crear_insertar_tabla(table_total_turistas)

In [68]:
df_civitatis_location_primary.sample(1)

,procedencia,fecha,nombre,opinion,viajo_con,georeferenced_column,latitude,longitude,bar_lat,bar_lon,periodo,primary_key
11600,"Granada, Espa침a",2019-04-11 00:00,Luis,Laura has conseguido que dos horas pasasen vol...,Viaj칩 con hijos mayores,"(37.1734995, -3.5995337)",37.173499,-3.599534,41.382894,2.177432,2019-04,34

In [70]:
df_civitatis_location_primary_null = df_civitatis_location_primary[df_civitatis_location_primary['procedencia'].isnull()]

In [90]:
df_civitatis_location_primary_null.to_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary_null.csv')

In [86]:
df_civitatis_location_primary_null.shape

(90, 12)

In [71]:
df_civitatis_location_primary_esp = df_civitatis_location_primary[df_civitatis_location_primary['procedencia'].str.contains('Espa침a') == True]

In [91]:
df_civitatis_location_primary_esp.to_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary_esp.csv')

In [88]:
df_civitatis_location_primary_esp.shape

(10400, 12)

In [73]:
df_civitatis_location_primary_ext = (df_civitatis_location_primary[df_civitatis_location_primary['procedencia'].str.contains('Espa침a') == False])

In [92]:
df_civitatis_location_primary_ext.to_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary_ext.csv')

In [89]:
df_civitatis_location_primary_ext.shape

(5049, 12)

In [94]:
df_civitatis_location_primary_ext.isnull().sum()

procedencia                0
fecha                      0
nombre                     0
opinion                 1619
viajo_con                104
georeferenced_column       0
latitude                  88
longitude                 88
bar_lat                    0
bar_lon                    0
periodo                    0
primary_key                0
dtype: int64

In [2]:
df_civitatis_location_primary_esp = pd.read_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary_esp.csv')
df_civitatis_location_primary_ext = pd.read_csv(r'C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\civitatis_location_primary_ext.csv')

NameError: name 'pd' is not defined

In [1]:
# Insert values in admons_esp
for indice, fila in df_turistas_admon_primary.iterrows():
    
    query_admon_esp = f"""INSERT INTO admon_esp (clave, periodo, viajeros_espana, pernoctaciones_espana, media_pernoc_espana) 
                        VALUES ({fila['primary_key']}, '{fila['periodo']}', {fila['viajeros_espana']}, {fila['pernoctaciones_espana']}, {fila['media_pernoc_esp']})"""

    civitatis_sql.crear_insertar_tabla(query_admon_esp)

NameError: name 'df_turistas_admon_primary' is not defined

In [56]:
# Insert values in admons_ext
for indice, fila in df_turistas_admon_primary.iterrows():
    
    query_admon_ext = f"""INSERT INTO admon_ext (clave, periodo, viajeros_extranjero, pernoctaciones_extranjero, media_pernoc_extranjero) 
                        VALUES ({fila['primary_key']}, '{fila['periodo']}', {fila['viajeros_extranjero']}, {fila['pernoctaciones_extranjero']}, {fila['media_pernoc_ext']})"""

    civitatis_sql.crear_insertar_tabla(query_admon_ext)

In [ ]:
# Insert values in civitatis_esp
for indice, fila in df_civitatis_location_primary_esp.iterrows():
    
    query_civitatis_esp = f"""INSERT INTO civitatis_esp (clave, periodo, procedencia, fecha, nombre, opinion, viajo_con, georeferenced_column, latitude, longitude, bar_latitude, bar_longitude)) 
                        VALUES ({fila['primary_key']}, '{fila['periodo']}', '{fila['procedencia']}', {fila['fecha']}, {fila['nombre']}, {fila['opinion']}, {fila['viajo_con']}, {fila['georeferenced_column']}, {fila['latitude']}, {fila['longitude']}, {fila['bar_lat']}, {fila['bar_lon']})"""

    try:
        civitatis_sql.crear_insertar_tabla(query_civitatis_esp)
    except:
        print(f'Error en la insercion de la fila {fila}')
        continue

In [ ]:
# Insert values in civitatis_esp
for indice, fila in df_civitatis_location_primary_ext.iterrows():
    
    query_civitatis_ext = f"""INSERT INTO civitatis_ext (clave, periodo, procedencia, fecha, nombre, opinion, viajo_con, georeferenced_column, latitude, longitude, bar_latitude, bar_longitude)) 
                        VALUES ({fila['primary_key']}, '{fila['periodo']}', '{fila['procedencia']}', {fila['fecha']}, {fila['nombre']}, {fila['opinion']}, {fila['viajo_con']}, {fila['georeferenced_column']}, {fila['latitude']}, {fila['longitude']}, {fila['bar_lat']}, {fila['bar_lon']})"""

    try:
        civitatis_sql.crear_insertar_tabla(query_civitatis_ext)
    except:
        print(f'Error en la insercion de la fila {fila}')
        continue

In [ ]:
# Insert values in total_turistas
for indice, fila in df_turistas_admon_primary.iterrows():
    
    query_admon_total = f"""INSERT INTO total_turistas (clave, periodo, viajeros_extranjero, total_pernoctaciones, media_total_pernoctaciones) 
                        VALUES ({fila['primary_key']}, '{fila['periodo']}', {fila['total_viajeros']}, {fila['total_pernoctaciones']}, {fila['media_total_pernoc']})"""

    civitatis_sql.crear_insertar_tabla(query_admon_total)