In [979]:
import pandas as pd
import numpy as np
import sidetable
import sys
import re
sys.path.append('../')

import seaborn as sns
import matplotlib.pyplot as plt

In [980]:
pd.options.display.max_columns = None

In [981]:
df_guiris = pd.read_csv(r"C:\Users\mituc\Ironhack\Curso\IronLabs\Proyecto-1\data\2078.csv", sep=';', encoding='latin-1', index_col = 0)

In [982]:
df_guiris.head(5)

,Viajeros y pernoctaciones,Residencia,Periodo,Total
ï»¿Puntos turÃ­sticos,,,,
01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2022M01,11.759
01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M12,16.496
01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M11,16.667
01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M10,21.467
01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M09,18.647

In [983]:
df_guiris.duplicated().sum()

12322

In [984]:
df_guiris[df_guiris.duplicated() == True]

,Viajeros y pernoctaciones,Residencia,Periodo,Total
ï»¿Puntos turÃ­sticos,,,,
02003 Albacete,Viajero,Residentes en EspaÃ±a,2020M06,.
02003 Albacete,Viajero,Residentes en EspaÃ±a,2020M05,.
02003 Albacete,Viajero,Residentes en EspaÃ±a,2020M04,0
02003 Albacete,Viajero,Residentes en el Extranjero,2020M06,.
02003 Albacete,Viajero,Residentes en el Extranjero,2020M05,.
...,...,...,...,...
50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,2020M05,.
50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,2020M04,0
50297 Zaragoza,Pernoctaciones,Residentes en el Extranjero,2020M06,.
50297 Zaragoza,Pernoctaciones,Residentes en el Extranjero,2020M05,.
50297 Zaragoza,Pernoctaciones,Residentes en el Extranjero,2020M04,0

In [985]:
df_guiris[df_guiris['Total'] == '0']

,Viajeros y pernoctaciones,Residencia,Periodo,Total
ï»¿Puntos turÃ­sticos,,,,
01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2020M04,0
01059 Vitoria-Gasteiz,Viajero,Residentes en el Extranjero,2020M04,0
01059 Vitoria-Gasteiz,Pernoctaciones,Residentes en EspaÃ±a,2020M04,0
01059 Vitoria-Gasteiz,Pernoctaciones,Residentes en el Extranjero,2020M04,0
02003 Albacete,Viajero,Residentes en EspaÃ±a,2020M04,0
...,...,...,...,...
49275 Zamora,Pernoctaciones,Residentes en el Extranjero,2020M04,0
50297 Zaragoza,Viajero,Residentes en EspaÃ±a,2020M04,0
50297 Zaragoza,Viajero,Residentes en el Extranjero,2020M04,0
50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,2020M04,0
50297 Zaragoza,Pernoctaciones,Residentes en el Extranjero,2020M04,0

Aunque parecía que había duplicados, en la tabla anterior podemos ver que no es así y si resetamos el index desaparecen

In [986]:
df_guiris.reset_index(inplace=True)

In [987]:
df_guiris.duplicated().sum()

0

In [988]:
df_guiris.dtypes

ï»¿Puntos turÃ­sticos        object
Viajeros y pernoctaciones    object
Residencia                   object
Periodo                      object
Total                        object
dtype: object

In [989]:
df_guiris.columns

Index(['ï»¿Puntos turÃ­sticos', 'Viajeros y pernoctaciones', 'Residencia',
       'Periodo', 'Total'],
      dtype='object')

In [990]:
print(df_guiris['Viajeros y pernoctaciones'].unique())
print(df_guiris['Residencia'].unique())

['Viajero' 'Pernoctaciones']
['Residentes en EspaÃ±a' 'Residentes en el Extranjero']

In [991]:
df_guiris.isnull().sum()

ï»¿Puntos turÃ­sticos           0
Viajeros y pernoctaciones       0
Residencia                      0
Periodo                         0
Total                        5358
dtype: int64

In [992]:
df_guiris.shape

(86920, 5)

In [993]:
df_guiris.head(5)

,ï»¿Puntos turÃ­sticos,Viajeros y pernoctaciones,Residencia,Periodo,Total
0,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2022M01,11.759
1,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M12,16.496
2,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M11,16.667
3,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M10,21.467
4,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,2021M09,18.647

Renombramos las columnas

In [994]:
df_guiris = df_guiris.rename(columns={'ï»¿Puntos turÃ­sticos': 'Puntos_turisticos'})
columnas_limpias = {col : col.lower().replace(" ", "_") for col in df_guiris.columns}
df_guiris.rename(columns = columnas_limpias, inplace = True)

In [995]:
df_guiris.columns

Index(['puntos_turisticos', 'viajeros_y_pernoctaciones', 'residencia',
       'periodo', 'total'],
      dtype='object')

In [996]:
df_guiris['total'] = df_guiris['total'].str.replace('.', '')

C:\Users\mituc\AppData\Local\Temp/ipykernel_18772/2279084469.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_guiris['total'] = df_guiris['total'].str.replace('.', '')

In [997]:
df_guiris['total'] = pd.to_numeric(df_guiris['total'], errors='coerce').astype('Int64')

In [998]:
df_guiris.set_index('periodo', inplace=True)

In [999]:
df_guiris.duplicated().sum()

13379

In [1000]:
df_guiris[df_guiris.duplicated() == True]

,puntos_turisticos,viajeros_y_pernoctaciones,residencia,total
periodo,,,,
2020M05,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,<NA>
2015M06,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,16496
2005M12,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,<NA>
2005M11,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,<NA>
2005M10,01059 Vitoria-Gasteiz,Viajero,Residentes en EspaÃ±a,<NA>
...,...,...,...,...
2020M05,50297 Zaragoza,Viajero,Residentes en EspaÃ±a,<NA>
2020M05,50297 Zaragoza,Viajero,Residentes en el Extranjero,<NA>
2020M05,50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,<NA>
2010M03,50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,90507
2020M05,50297 Zaragoza,Pernoctaciones,Residentes en el Extranjero,<NA>

In [1001]:
df_guiris[df_guiris['total'] == 90507]

,puntos_turisticos,viajeros_y_pernoctaciones,residencia,total
periodo,,,,
2012M05,50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,90507
2010M03,50297 Zaragoza,Pernoctaciones,Residentes en EspaÃ±a,90507

Renombramos los valores

In [1002]:
df_guiris['residencia'].replace({'Residentes en EspaÃ±a': "residentes_espana", 'Residentes en el Extranjero': 'residentes_en_el_extranjero'}, inplace=True)
df_guiris['viajeros_y_pernoctaciones'] = df_guiris['viajeros_y_pernoctaciones'].str.lower()

In [1003]:
df_guiris.tail(5)

,puntos_turisticos,viajeros_y_pernoctaciones,residencia,total
periodo,,,,
2005M05,50297 Zaragoza,pernoctaciones,residentes_en_el_extranjero,20698
2005M04,50297 Zaragoza,pernoctaciones,residentes_en_el_extranjero,20003
2005M03,50297 Zaragoza,pernoctaciones,residentes_en_el_extranjero,21156
2005M02,50297 Zaragoza,pernoctaciones,residentes_en_el_extranjero,13372
2005M01,50297 Zaragoza,pernoctaciones,residentes_en_el_extranjero,10284

# Separamos Barcelona

In [1004]:
df_guiris_barna = df_guiris[df_guiris['puntos_turisticos'].str.contains('Barcelona') == True]

In [1005]:
def pastor_de_guiris(df, ciudad):
    df_guiris_provincia = df[df['puntos_turisticos'].str.contains(ciudad) == True]
    df_numguiris = df[df['viajeros_y_pernoctaciones'].str.contains('Viajero') == True]

# Separamos el número de turistas de las pernoctaciones

In [1006]:
df_numguiris_barna = df_guiris_barna[df_guiris_barna['viajeros_y_pernoctaciones'].str.contains('viajero') == True]

In [1007]:
df_numguiris_barna.tail(5)

,puntos_turisticos,viajeros_y_pernoctaciones,residencia,total
periodo,,,,
2005M05,08019 Barcelona,viajero,residentes_en_el_extranjero,274735
2005M04,08019 Barcelona,viajero,residentes_en_el_extranjero,227402
2005M03,08019 Barcelona,viajero,residentes_en_el_extranjero,209654
2005M02,08019 Barcelona,viajero,residentes_en_el_extranjero,184467
2005M01,08019 Barcelona,viajero,residentes_en_el_extranjero,151746

Separamos los turistas residentes en España

In [1008]:
df_numguiris_barna_esp = df_numguiris_barna[df_numguiris_barna['residencia'].str.contains('residentes_espana') == True]

In [1009]:
df_numguiris_barna_esp.tail(2)

        puntos_turisticos viajeros_y_pernoctaciones         residencia  total
periodo
2005M02   08019 Barcelona                   viajero  residentes_espana  91128
2005M01   08019 Barcelona                   viajero  residentes_espana  85815

Separamos los turistas residentes en el extranjero

In [1010]:
df_numguiris_barna_ext = df_numguiris_barna[df_numguiris_barna['residencia'].str.contains('residentes_en_el_extranjero') == True]

In [1011]:
df_numguiris_barna_ext.tail(2)

,puntos_turisticos,viajeros_y_pernoctaciones,residencia,total
periodo,,,,
2005M02,08019 Barcelona,viajero,residentes_en_el_extranjero,184467
2005M01,08019 Barcelona,viajero,residentes_en_el_extranjero,151746

# Separamos las pernoctaciones del numero de turistas

In [1012]:
df_pernocguiris_barna = df_guiris_barna[df_guiris_barna['viajeros_y_pernoctaciones'].str.contains('pernoctaciones') == True]

Separamos las pernoctaciones de los turistas españoles

In [1013]:
df_pernocguiris_barna_esp =  df_pernocguiris_barna[df_pernocguiris_barna['residencia'].str.contains('residentes_espana') == True]

Separamos las pernoctaciones de los turistas extranjeros

In [1014]:
df_pernocguiris_barna_ext =  df_pernocguiris_barna[df_pernocguiris_barna['residencia'].str.contains('residentes_en_el_extranjero') == True]

In [1015]:
df_pernocguiris_barna_ext.tail(5)

,puntos_turisticos,viajeros_y_pernoctaciones,residencia,total
periodo,,,,
2005M05,08019 Barcelona,pernoctaciones,residentes_en_el_extranjero,714859
2005M04,08019 Barcelona,pernoctaciones,residentes_en_el_extranjero,608493
2005M03,08019 Barcelona,pernoctaciones,residentes_en_el_extranjero,545853
2005M02,08019 Barcelona,pernoctaciones,residentes_en_el_extranjero,485152
2005M01,08019 Barcelona,pernoctaciones,residentes_en_el_extranjero,401350

In [1016]:
df_oi = pd.concat([df_numguiris_barna_esp['total'], 
                   df_numguiris_barna_ext['total'],
                   df_pernocguiris_barna_esp['total'],
                   df_pernocguiris_barna_ext['total']], axis=1)

df_oi.columns = ['viajeros_espana', 
                 'viajeros_extranjero',
                 'pernoctaciones_espana',
                 'pernoctaciones_extranjero']

In [1017]:
df_oi['media_pernoc_esp'] = df_pernocguiris_barna_esp['total'] / df_numguiris_barna_esp['total']
df_oi['media_pernoc_ext'] = df_pernocguiris_barna_ext['total'] / df_numguiris_barna_ext['total']
df_oi['total_viajeros'] = df_numguiris_barna_esp['total'] + df_numguiris_barna_ext['total']
df_oi['total_pernoctaciones'] = df_pernocguiris_barna_esp['total'] + df_pernocguiris_barna_ext['total']
df_oi['media_total_pernoc'] = df_oi['total_pernoctaciones'] / df_oi['total_viajeros']

In [1018]:
df_oi.head(2)

,viajeros_espana,viajeros_extranjero,pernoctaciones_espana,pernoctaciones_extranjero,media_pernoc_esp,media_pernoc_ext,total_viajeros,total_pernoctaciones,media_total_pernoc
periodo,,,,,,,,,
2022M01,107162,194312,203683,541541,1.900702,2.786966,301474,745224,2.471935
2021M12,144299,250133,282398,674630,1.957034,2.697085,394432,957028,2.426345

In [1019]:
df_oi.isnull().sum()

viajeros_espana              2
viajeros_extranjero          2
pernoctaciones_espana        2
pernoctaciones_extranjero    2
media_pernoc_esp             2
media_pernoc_ext             2
total_viajeros               2
total_pernoctaciones         2
media_total_pernoc           2
dtype: int64

In [1020]:
df_oi.duplicated().sum()

1

In [1021]:
df_oi[df_oi.duplicated() == True]

,viajeros_espana,viajeros_extranjero,pernoctaciones_espana,pernoctaciones_extranjero,media_pernoc_esp,media_pernoc_ext,total_viajeros,total_pernoctaciones,media_total_pernoc
periodo,,,,,,,,,
2020M05,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [1024]:
df_oi.reset_index(inplace=True)

In [1025]:
df_oi.head(2)

,periodo,viajeros_espana,viajeros_extranjero,pernoctaciones_espana,pernoctaciones_extranjero,media_pernoc_esp,media_pernoc_ext,total_viajeros,total_pernoctaciones,media_total_pernoc
0,2022M01,107162,194312,203683,541541,1.900702,2.786966,301474,745224,2.471935
1,2021M12,144299,250133,282398,674630,1.957034,2.697085,394432,957028,2.426345

In [1026]:
df_oi[df_oi['periodo']=='2020M05']

,periodo,viajeros_espana,viajeros_extranjero,pernoctaciones_espana,pernoctaciones_extranjero,media_pernoc_esp,media_pernoc_ext,total_viajeros,total_pernoctaciones,media_total_pernoc
20,2020M05,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>